.primis{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  background: none;
  background-image: url("BG_holder.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  align-items: center;
  justify-content: center;

}

.primus_in_primo{
  position: relative;
  width: 100%;
  height: 22%;

  background: none;
  background: rgba(0, 0, 0, 0.85);

}

.secundo_in_primo{
  position: relative;
  width: 100%;
  height: 78%;

  background: none;
  background: rgba(255, 255, 255, 0.75);
  
}