.primis{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background: none;
  background-image: url("BG_holder.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  justify-content: center;
  align-items: center;

  z-index: 1;
}

.primus_in_primo{
  position: relative;
  width: 100%;
  height: 140px;
  background: rgba(0, 0, 0, 0.85);

  z-index: 2;
}

.secundo_in_primo{
  position: absolute;
  width: 100%;
  height: 945px;

  background: rgba(255, 255, 255, 0.75);
  z-index: 2;
}